@model CoffeeCashlessWeb.Models.AccountM

@{
    ViewBag.Title = "Index";

}

<h2>Buy a coffee</h2>
<br />
@using (Html.BeginForm("Index", "BuyCoffee", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <form>
        <div class="row">
            <div class="col-md-4">
                <label for="NProduct">Choose product</label>
                <select name="Name" id="Name" class="form-control">
                    @foreach (var name in Model.Locations)
                    {
                        <option value="@name">@name</option>
                    }
                </select>
            </div>
            <div class="col-md-4">
                <label for="Checkin">Check-In</label>
                <input type="date" id="Checkin" name="Checkin" class="form-control" min="@Model.Checkin.Date.ToString("yyyy-MM-dd")" value="@Model.Checkin.Date.ToString("yyyy-MM-dd")" />
            </div>
            <div class="col-md-4">
                <label for="Checkout">Check-Out</label>
                <input type="date" id="Checkout" name="Checkout" class="form-control" min="@Model.Checkout.Date.ToString("yyyy-MM-dd")" value="@Model.Checkout.Date.ToString("yyyy-MM-dd")" />
            </div>
        </div>
        <div class="row"><br /></div>
        <div class="row">
            <div class="col-md-12">
                <input type="submit" value="BUY" class="btn btn-primary" />
            </div>
        </div>
        <div class="row"><br /></div>
    </form>

}



















